<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<a href="/sign-up"><h1>Sign Up</h1></a>
		</div>

		<div class="col-xs-4" id="sign-up-form">
			<h1>Sign Up Page</h1>
			<br>
				<h3>Sign Up</h3>
				<form>
				<input type="text" name="signUpName">name
				<br>
				<input type="password" name="signUpPassword">Pass
				<br>
				<input type="password" name="signUpPasswordConfirm">Confirm Pass
				</form>
				<button id="signUpSubmit">Sign Up Submit</button>
		</div>

		<div class="col-xs-4">
			<a href="/sign-in"><h1>Sign In</h1></a>
		</div>		

	</div>
</div>
