<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<a href="/sign-up"><h1>Sign Up</h1></a>
		</div>

		<div class="col-xs-4" id="sign-in-form">
				<h3>Sign In</h3>
				<form>
				<input type="text" name="signInName">Name
				<br>
				<input type="password" name="signInPassword">Pass
				</form>
				<button id="signInSubmit">Sign In Submit</button>
		</div>

		<div class="col-xs-4">
			<a href="/sign-in"><h1>Sign In</h1></a>
		</div>		

	</div>
</div>