<style>
  #main-nav-bar {
    display: none;
  }
  .navbar.navbar-default.navbar-fixed-side {
    text-align: center;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <nav class="navbar navbar-default navbar-fixed-side">
      <br>
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <img src="../assets/images/fashion-logo.png" id="user-pic">
          {{!-- <a class="navbar-brand" href="./">BS3 Side Navbar</a> --}}
        </div>
        <br>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">Form-test <span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a href="/landing">Home</a>
            </li>
            <li>
              <a href="/user-homepage">User Homepage</a>
            </li>
            <li>
              <a href="/all-listings">Your Listings</a>
            </li>
            <li>
              <a href="/warehouse">Warehouse</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-xs-9">
     <h1>User Data</h1>
        <p>proident, sunt in culpa qui officia deserunt mollit anim isdf</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
    </div>
  </div>
</div>